# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
.env.*
.pytest_cache/
.ruff_cache/

# Django
*.log
*.sqlite3
media/
staticfiles/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
